/* 
    File Name: app.css
    Student's Name: Aaron Sampson
    Student ID: 301396788
    Date: 2024-10-01
*/

/* Root styles */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



